@{
    ViewData["Title"] = "Home Page";
}

<div class="text-start">
    <h1 class="h1">Form parametrs parsing demo</h1>
    <p>
        <ul>
            <li>
                <a href="/Home/SingleAction">Manual parsing in single action</a>
            </li>
            <li>
                <a href="/Home/SeparateAction">Manual parsing in separate action</a>
            </li>
            <li>
                <a href="/Home/BindingParametrs">Model binding (parameters)</a>
            </li>
            <li>
                <a href="/Home/BindingSeparate">Model binding (separate model)</a>
            </li>
        </ul>
    </p>

</div>
